[submodule "char-rnn-tensorflow"]
	path = char-rnn-tensorflow
	url = https://github.com/sherjilozair/char-rnn-tensorflow.git
[submodule "midi-rnn"]
	path = midi-rnn
	url = https://github.com/brannondorsey/midi-rnn.git
[submodule "tensorflow-wavenet"]
	path = tensorflow-wavenet
	url = https://github.com/ibab/tensorflow-wavenet.git
